<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{title}}</title>
</head>

<body class="container mx-auto mt-4">
    <header class="grid">
        <h1 class="text-3xl mb-2">Javascript Experiments</h1>
        <nav>
            {%- for project in collections.projects -%}
                <a href="{{ project.url }}">{{ project.data.title }}</a>                    
            {% endfor %}
        </nav>
    </header>
    <main class="mx-auto">{{ content | safe }}</main>
    <footer>
        &copy; 2023 Phillip Jackson @unisys12
    </footer>
</body>

</html>